.container {
  display: flex;
  min-height: 600px;
  justify-content: center;
  align-items: center;
}
div.game {
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 120px;
  height: 120px
}

  table {
    border-collapse: collapse,
  }

  tableCell {
    border: "1px solid gray";
    margin: 0;
    padding: "5px 10px";
    width: "max-content";
    min-width: "150px"
  }
 
  container {
    padding: "20px";
    border: "1px solid #F0F8FF";
    border-radius: "15px";
    width: "max-content";
    margin-bottom: "40px",
  }

  inputs {
    margin-bottom: "5px",
  }

  submitBtn {
    margin-top: "10px";
    padding: "10px 15px";
    border: "none";
    background-color: "lightseagreen";
    font-size: "14px";
    border-radius: "5px"
  }